body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-gap{
    padding: 20px 0px;
}
.main-area{
    background-color: rgba(51, 51, 51, 0.137);
    width: 90%;
    margin: 0 auto;
}
.menu{
    display: flex;
    background-color: rgb(21, 51, 51);
   
    ul{
        list-style: none;
    }li{
        float: left;
        margin: 10px 20px;
    }a{
        text-decoration: none;
        font-size: 18px;
        padding: 20px 0px;
        line-height: 50px;
        color: #fff !important;
    }
    
    .logo{
        width: 50%;
    }a.logo{
        font-size: 40px;
        margin-left: 35px;
        padding: 20px 0px;
    }
}
.section-title {
	font-size: 40px;
	text-align: center;
}

.about-area{
    display: flex;
    .width50{
        width: 50%;
    }
    .my-image img{
        width: 100%;
        border-radius: 0px 30px 30px 0px;
    }
    .about-me{
        margin-left: 30px;
        margin-right: 30px;
    }h3{
        font-size: 40px;
    }p{
        font-size: 20px;
        line-height: 30px;
    }
}
.photo-area{

    .photo-section{
        display: flex;
        // align-items: center;
        justify-content: space-around;
        padding: 15px 20px;
    }
    .photo-section img{
        width: 30%;
        height: 300px;
        border-radius: 15px;
        
    }
}
